In [1]:
#importing libraries
import numpy as np 
import pandas as pd 


import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
# csvs into variables

train_set = pd.read_csv("/kaggle/input/titanic/train.csv")
test_set = pd.read_csv("/kaggle/input/titanic/test.csv")
gender_submission_set = pd.read_csv("/kaggle/input/titanic/gender_submission.csv")

train_set.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
test_set.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
gender_submission_set.head()

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

In [5]:
# In my opinion those fields will not help in model

train_set = train_set.drop(['Ticket','Cabin','Name'],axis=1)

test_set = test_set.drop(['Ticket','Cabin','Name'],axis=1)

In [6]:
# I am changing categorical data to numerical
train_set = train_set.replace('male','1')
train_set = train_set.replace('female','0')

train_set = train_set.replace('S','0')
train_set = train_set.replace('C','1')
train_set = train_set.replace('Q','2')

test_set = test_set.replace('male','1')
test_set = test_set.replace('female','0')

test_set = test_set.replace('S','0')
test_set = test_set.replace('C','1')
test_set = test_set.replace('Q','2')

In [7]:
train_set.head()

   PassengerId  Survived  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0            1         0       3   1  22.0      1      0   7.2500        0
1            2         1       1   0  38.0      1      0  71.2833        1
2            3         1       3   0  26.0      0      0   7.9250        0
3            4         1       1   0  35.0      1      0  53.1000        0
4            5         0       3   1  35.0      0      0   8.0500        0

In [8]:
test_set.head()

   PassengerId  Pclass Sex   Age  SibSp  Parch     Fare Embarked
0          892       3   1  34.5      0      0   7.8292        2
1          893       3   0  47.0      1      0   7.0000        0
2          894       2   1  62.0      0      0   9.6875        2
3          895       3   1  27.0      0      0   8.6625        0
4          896       3   0  22.0      1      1  12.2875        0

In [9]:
# this is just a tmp variable
X_begin = train_set.drop('Survived',axis=1)

In [10]:
# How much NaN do we have?
X_begin.isna().sum().sum()

179

In [11]:
test_set.isna().sum().sum()

87

In [12]:
# Getting rid of every NaN value
from sklearn.impute import SimpleImputer
my_imputer = SimpleImputer()
X = pd.DataFrame(my_imputer.fit_transform(X_begin))

X.columns=X_begin.columns
X.index=X_begin.index

test_set_final = pd.DataFrame(my_imputer.fit_transform(test_set))

test_set_final.columns=test_set.columns
test_set_final.index=test_set.index

In [13]:
X.isna().sum().sum()

0

In [14]:
test_set_final.isna().sum().sum()

0

In [15]:
X

     PassengerId  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0            1.0     3.0  1.0  22.000000    1.0    0.0   7.2500       0.0
1            2.0     1.0  0.0  38.000000    1.0    0.0  71.2833       1.0
2            3.0     3.0  0.0  26.000000    0.0    0.0   7.9250       0.0
3            4.0     1.0  0.0  35.000000    1.0    0.0  53.1000       0.0
4            5.0     3.0  1.0  35.000000    0.0    0.0   8.0500       0.0
..           ...     ...  ...        ...    ...    ...      ...       ...
886        887.0     2.0  1.0  27.000000    0.0    0.0  13.0000       0.0
887        888.0     1.0  0.0  19.000000    0.0    0.0  30.0000       0.0
888        889.0     3.0  0.0  29.699118    1.0    2.0  23.4500       0.0
889        890.0     1.0  1.0  26.000000    0.0    0.0  30.0000       1.0
890        891.0     3.0  1.0  32.000000    0.0    0.0   7.7500       2.0

[891 rows x 8 columns]

In [16]:
test_set_final

     PassengerId  Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0          892.0     3.0  1.0  34.50000    0.0    0.0    7.8292       2.0
1          893.0     3.0  0.0  47.00000    1.0    0.0    7.0000       0.0
2          894.0     2.0  1.0  62.00000    0.0    0.0    9.6875       2.0
3          895.0     3.0  1.0  27.00000    0.0    0.0    8.6625       0.0
4          896.0     3.0  0.0  22.00000    1.0    1.0   12.2875       0.0
..           ...     ...  ...       ...    ...    ...       ...       ...
413       1305.0     3.0  1.0  30.27259    0.0    0.0    8.0500       0.0
414       1306.0     1.0  0.0  39.00000    0.0    0.0  108.9000       1.0
415       1307.0     3.0  1.0  38.50000    0.0    0.0    7.2500       0.0
416       1308.0     3.0  1.0  30.27259    0.0    0.0    8.0500       0.0
417       1309.0     3.0  1.0  30.27259    1.0    1.0   22.3583       1.0

[418 rows x 8 columns]

In [17]:
y= train_set['Survived']

In [18]:
y

0      0
1      1
2      1
3      1
4      0
      ..
886    0
887    1
888    0
889    1
890    0
Name: Survived, Length: 891, dtype: int64

In [19]:
# splitting train set for some more - to get validation how well every algorithm works
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y , test_size=0.25, random_state=0)

In [20]:
from sklearn.preprocessing import StandardScaler

ss_train = StandardScaler()
X_train = ss_train.fit_transform(X_train)

ss_test = StandardScaler()
X_test = ss_test.fit_transform(X_test)

ss_test = StandardScaler()
test_set_final = ss_test.fit_transform(test_set_final)

In [21]:
# Visit this webpage: https://www.learndatasci.com/glossary/binary-classification/
## training the models
models = {}

# Logistic Regression
from sklearn.linear_model import LogisticRegression
models['Logistic Regression'] = LogisticRegression()

# # Support Vector Machines
# from sklearn.svm import LinearSVC
# models['Support Vector Machines'] = LinearSVC()

# Decision Trees
from sklearn.tree import DecisionTreeClassifier
models['Decision Trees'] = DecisionTreeClassifier()

# Random Forest
from sklearn.ensemble import RandomForestClassifier
models['Random Forest'] = RandomForestClassifier()

# Naive Bayes
from sklearn.naive_bayes import GaussianNB
models['Naive Bayes'] = GaussianNB()

# K-Nearest Neighbors
from sklearn.neighbors import KNeighborsClassifier
models['K-Nearest Neighbor'] = KNeighborsClassifier()

In [22]:
from sklearn.metrics import accuracy_score, precision_score, recall_score

accuracy, precision, recall = {}, {}, {}

for key in models.keys():
    
    # Fit the classifier
    models[key].fit(X_train, y_train)
    
    # Make predictions
    predictions = models[key].predict(X_test)
    
    # Calculate metrics
    accuracy[key] = accuracy_score(predictions, y_test)
    precision[key] = precision_score(predictions, y_test)
    recall[key] = recall_score(predictions, y_test)

In [23]:
df_model = pd.DataFrame(index=models.keys(), columns=['Accuracy', 'Precision', 'Recall'])
df_model['Accuracy'] = accuracy.values()
df_model['Precision'] = precision.values()
df_model['Recall'] = recall.values()

df_model

                     Accuracy  Precision    Recall
Logistic Regression  0.807175   0.714286  0.759494
Decision Trees       0.686099   0.738095  0.563636
Random Forest        0.820628   0.690476  0.805556
Naive Bayes          0.775785   0.726190  0.693182
K-Nearest Neighbor   0.793722   0.654762  0.763889

In [24]:
# I choose the best model
predictions_final = models['Random Forest'].predict(test_set_final)

In [25]:
output = pd.DataFrame({'PassengerId': test_set.PassengerId, 'Survived': predictions_final})
output.to_csv('submission.csv', index=False)
print("Your submission was successfully saved!")

Your submission was successfully saved!

In [26]:
output

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
..           ...       ...
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]